iframe {
    width: 100%;
    height: 100%;
}

.iconfont {
    margin-right: 10px;
}

.layui-icon {
    margin-right: 8px;
    margin-left: 20px;
}

.layui-body {
    overflow: hidden;
}

.layui-side-scroll {
    width: 200px;
}

.layui-nav-img {
    width: 40px;
    height: 40px;
}

.userinfo {
    height: 60px;
    margin-right: 0;
    text-align: center;
    line-height: 60px;
    font-size: 12px;
    user-select: none;
}

.text-avatar {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #009688;
    vertical-align: middle;
}